body{height: 700px;
    background-color: rgb(255, 165, 0);
    background-size: cover;
    background-repeat: no-repeat;
    background-image:linear-gradient(blue,orange);
    height: auto;
}


h1{color:rgb(252, 252, 252);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h2{color:rgb(255, 255, 255);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h3{color:rgb(255, 255, 255);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h4{color:rgb(255, 255, 255);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h5{color:rgb(255, 255, 255);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h6{color:rgb(255, 255, 255);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p1{color:rgb(7, 211, 247)}
.design{color:rgb(224, 18, 173)}
.navlink{color:rgb(95, 2, 2);
    display:flex;
    position:sticky;
    align-items:center;
    justify-content: space-between;
     top:0px;
}
header { height: auto;
       background-color: rgb(15, 223, 171);
  }
.navlists{ display:flex;
 list-style:none;
padding:5px
}
.linkone{padding:35px}
.linktwo{padding:35px}
.linkthree{padding:35px}
.linkfour{padding:35px}
.linkfive{padding:35px}
.linksix{padding:35px}
.lclass{font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
         color:rgb(177, 107, 212);
        font-weight: 400px;
         height: 400;}
table,.centre{ 
    color:rgb(75, 3, 3);
    border:2px solid rgb(251, 37, 133);
}
table,th,td{
    color:rgb(0, 0, 0);
}
.checked{color:yellow }




