body{background-color: rgb(10, 174, 158);}
.wrapper{color:rgb(188, 9, 152);
 background-color: rgb(73, 112, 240);
 border-radius: 30px;
 width:60%;
text-align: center;
padding:6px;
font-family:monospace;
font-size: 20px;
}
#btn{background-color: rgb(229, 52, 52);
    border-radius: 20px;
width:60%;
    text-align: center;
    button{
        background-color: aquamarine;
        border-radius: 10px;
        border:2px solid rgb(216, 6, 6);
   text-align: center;
    }
    button:hover{
       text-align: center;
    }
}
