h1{ text-align:center;
  
}
.head{
    background-color: rgb(169, 170, 243);
    text-align: center;
    padding: 15px;
    margin-bottom: 10px;}
.navlink{color:rgb(95, 2, 2);
height: 40px;
display:flex;
position:sticky;
 align-items:center;
 justify-content: space-between;
top:0px;
}
.navlists{ display:flex;
    list-style:none;
   padding:5px;
   }
.home{padding:35px}
.about{padding:35px}
.whats_on {padding:35px}
.contact{padding:35px}
.tickets{padding:35px}
.welcome{float: left;
  width: 33.33%;
  padding: 15px;
 font-size: large;}
 .row::after {
  content: "";
  display: table;
  clear: both;
}
.id{text-align: center;
  font-size: large;
  float: right;
 
background-color: rgb(169, 170, 243);

@media screen and (max-width:600px) {
  .id { float: none;
    width: 100%;
  }
}
}
ul{float: right;
    text-size-adjust: 40px;
   }
li{text-align: left;}
   footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: blueviolet;
    color: white;
    text-align: center;
  }