body{background-color: rgb(255, 152, 186);}
.h1{height: 850px;
    width: 640px;
filter: hue(20%);}

.h2{height: 800px;
    filter:grayscale(100%);   
         }
.h3{height: 800px;
    width:640px;
filter:saturate(40%)
}
